<h1>Editing friend</h1>
<br/>

<%= render "form", friend: @friend %>

<br>

<div class="btn-toolbar">
  <%= link_to "Show", @friend, class:"btn btn-secondary",display:"inline-block" %>&nbsp;
  <%= link_to "Back", friends_path, class:"btn btn-dark",display:"inline-block" %>&nbsp;
  <%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
