<h1>About Us...</h1>

<p>
	<%= @about_me %>
</p>

<p>
	<!-- If you don't put the equal to sign in this < %= then it wont show you the output in page -->
	<% answer = 2+3 %>
	2 + 2 = <%= answer %>

</p>